<?xml version="1.0"?>
<!--
/**
 * Diglin GmbH - Switzerland
 *
 * @author      Sylvain Rayé <support at diglin.com>
 * @category    Diglin
 * @package     Diglin_Zopim
 * @copyright   Copyright (c) 2011-2016 Diglin (http://www.diglin.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Diglin_Zopim::zopim" title="Zopim Chat by Diglin" module="Diglin_Zopim" sortOrder="60" parent="Magento_Backend::system" resource="Diglin_Zopim::zopim"/>

        <add id="Diglin_Zopim::account_setup" title="Account Setup" module="Diglin_Zopim" sortOrder="10" action="chat/account" resource="Diglin_Zopim::account_setup" parent="Diglin_Zopim::zopim" />
        <add id="Diglin_Zopim::config" title="Configuration" module="Diglin_Zopim" sortOrder="20" action="adminhtml/system_config/edit/section/zopim" resource="Diglin_Zopim::config" parent="Diglin_Zopim::zopim" />
    </menu>
</config>
